HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
dockprom/

src/main/resources/certificates/local-cert.crt
src/main/resources/certificates/local-client-cert.crt
src/main/resources/certificates/local-ssl.p12
src/main/resources/certificates/local-client-ssl.p12
src/main/resources/certificates/hosts
src/main/resources/certificates/sanClientHosts.txt
src/main/resources/certificates/sanHosts.txt
src/main/resources/certificates/certificate.pem
src/main/resources/certificates/client-certificate.pem
src/main/resources/certificates/privatekey.pem
src/main/resources/certificates/client-privatekey.pem
src/main/resources/compose_files/clusterID/clusterID
src/main/resources/compose_files/.env
src/main/resources/compose_files/db.env
src/main/resources/compose_files/ips.env