<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .big-text {
            font-size: 1.5rem;
        }
        .rotate-icon {
            transform: rotate(90deg);
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Nwdaf Instance</h3>
    <div class="row mt-3">
        <div class="col big-text">
            Nwdaf Instance ID:
            <span id="NWDAF_INSTANCE_ID" class="text-dark" th:text="${NWDAF_INSTANCE_ID}"></span>
        </div>
    </div>
    <div class="row mt-3">
        <tr class="col">
            <div>
                <h3>Serving Area Of Interest
                    <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseTable"
                            aria-expanded="false" aria-controls="collapseTable">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="collapseIcon">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.793l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </h3>

            </div>
            <div class="collapse" id="collapseTable">
                <div hx-get="/admin/fragments/areaOfInterestTable" hx-trigger="every 1s"></div>
            </div>
    </div>
</div>
<br>
<div hx-get="admin/kafkaConsumers" hx-trigger="every 1s"></div>
<div hx-get="admin/kafkaCollectors" hx-trigger="every 1s"></div>
<div hx-get="admin/notifyListeners" hx-trigger="every 1s"></div>
<script async defer>
    const toggleNotifyListenerBtn = document.querySelector('button[hx-get="/admin/toggleNotifyListener"]');
    const noNotifyListeners = document.getElementById('noNotifyListeners');

    toggleNotifyListenerBtn.addEventListener('htmx:afterRequest', (event) => {

        noNotifyListeners.innerText = event.detail.xhr.response;
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    $('#collapseTable').on('show.bs.collapse hide.bs.collapse', function () {
        $('#collapseIcon').toggleClass('rotate-icon');
    });</script>
</body>
</html>