<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Create_Subscription_Form</title>
</head>
<body>
    <h1>Create Subscription Form</h1>
	<div>Current time is <span th:text="${serverTime}" /></div>
    <form th:action="@{/client/form}" th:object="${nnwdafEventsSubscription}" method="post">
		
        <!--<div>
            <label>Notification URI</label> 
            <input type="text" th:field="*{notificationURI}" th:value=${notificationURI} disabled/>
        </div> -->
        <!-- th:attrappend="selected=${type.toString() == 'THRESHOLD'}?@{selected}" -->
        <h3>Optional Subscription Info</h3>
		<div>
            <label>Id</label> 
            <input type="text" th:field="*{id}" th:value=${id} disabled/>
        </div>
        <div>
        <label>Show EvtReq Fields</label>
        <input type="checkbox" th:field="*{showEvtReq}" th:value=${showEvtReq}/>
        <label>Show PrevSub Fields</label>
        <input type="checkbox" th:field="*{showPrevSub}" th:value=${showPrevSub}/>
        <label>Show ConsNfInfo Fields</label>
        <input type="checkbox" th:field="*{showConsNfInfo}" th:value=${showConsNfInfo}/>
        <button type="submit" name="update" th:text="Update">Update shown fields</button>
        </div>
        <br>
        <div>
	        <label>Notification Correlation ID</label> 
	        <input type="text" th:field="*{notifCorrId}" th:value=${notifCorrId} pattern="[0-9a-fA-F]{2}\b-[0-9a-fA-F]{2}\b-[0-9a-fA-F]{2}\b-[0-9a-fA-F]{2}"/>
	    </div>
	    <br>
        <div th:if="*{showEvtReq}==true">
			Event Reporting Information that applies for each event
			<hr>
			<div>
	  			<label>Immediate Reporting</label>
	  			<input type="checkbox" th:field="*{immRep}"/>
			</div>
			<select th:field="*{notifMethod}">
	  			<option th:each="type : ${T(io.nwdaf.eventsubscription.model.NotificationMethod.NotificationMethodEnum).values()}" 
	          	th:value="${type}" 
	          	th:text="${type.toString()}">Notification Method</option>
			</select>
			<div>
	            <label>Max number of Reports</label> 
	            <input type="number" th:field="*{maxReportNbr}" th:value=${maxReportNbr}/>
	        </div>
	        <div>
	            <label>Monitoring Duration</label> 
	            <input type="datetime-local" th:field="*{monDur}" th:value=${monDur}/>
	        </div>
	        <div>
	            <label>Repetition Period for periodic reporting</label> 
	            <input type="number" th:field="*{repPeriod}" th:value=${repPeriod}/>
	        </div>
	        <div>
	            <label>Percentage of Sampling among impacted UEs</label> 
	            <input type="number" th:field="*{sampRatio}" th:value=${sampRatio}/>
	        </div>
	        <div>
	            <label> Group Reporting Guard Time for aggregating the reports for a group of UEs</label> 
	            <input type="number" th:field="*{grpRepTime}" th:value=${grpRepTime}/>
	        </div>
	        <label>Notification Flag</label>
	        <select th:field="*{notifFlag}">
	  			<option th:each="type : ${T(io.nwdaf.eventsubscription.model.NotificationFlag.NotificationFlagEnum).values()}" 
	          	th:value="${type}" 
	          	th:text="${type.toString()}"></option>
			</select>
			
			<br>
			Partitioning Criteria  for partitioning the impacted UEs before performing sampling
			<hr>
	        <ul>
				<button type="submit" name="addRow" th:text="Add">Add partitionCriteria</button>
				<li th:each="p,p_stat: *{partitionCriteria}">
		        <select th:field="*{partitionCriteria[__${p_stat.index}__]}">
		  			<option th:each="type : ${T(io.nwdaf.eventsubscription.model.PartitioningCriteria.PartitioningCriteriaEnum).values()}" 
		          	th:value="${type}" 
		          	th:text="${type.toString()}"></option>
		         </select>
		         <button th:if="${p_stat != null}" type="submit" name="removeRow" 
	                th:value="${p_stat.index}" th:text="Remove">Remove</button>
	          	</li>
	        </ul>
        </div>
        <div th:if="*{showPrevSub}==true">
			Previous Analytics Subscription Info
			<hr>
			<div>
	            <label>Producer NF Instance ID </label> 
	            <input type="text" th:field="*{producerId}" th:value=${producerId} pattern="^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$"/>
	        </div>
			<div>
	            <label>Producer NF Set Identifier</label> 
	            <input type="text" th:field="*{producerSetId}" th:value=${producerSetId} pattern="(set[A-Za-z0-9\-]+[A-Za-z0-9]\.[A-Za-z]+set\.5gc\.mnc([0-9]){3}\.mcc([0-9]){3})|(set[A-Za-z0-9\-]+[A-Za-z0-9]\.[A-Za-z]+set\.5gc\.nid([A-Za-z0-9]){11}\.mnc([0-9]){3}\.mcc([0-9]){3})" title="for PLMN: set<NFSetId>.<NF>set.5gc.mnc<3digits>.mcc<3digits> for SNPN: ...5gc.nid<11-hexdigits>.mnc..."/>
	        </div>
			<div>
	            <label>The identifier of a subscription </label> 
	            <input type="text" th:field="*{subscriptionId}" th:value=${subscriptionId}/>
	        </div>
		    <br>
				 List of analytics types for which NF related analytics contexts can be retrieved
				<hr>
		        <ul>
					<button type="submit" name="addRownfAnaEvents" th:text="Add">Add nfAnaEvent</button>
					<li th:each="p,p_stat: *{nfAnaEvents}">
			        <select th:field="*{nfAnaEvents[__${p_stat.index}__]}">
			  			<option th:each="type : ${T(io.nwdaf.eventsubscription.model.NwdafEvent.NwdafEventEnum).values()}" 
			          	th:value="${type}" 
			          	th:text="${type.toString()}"></option>
			         </select>
			         <button th:if="${p_stat != null}" type="submit" name="removeRownfAnaEvents" 
		                th:value="${p_stat.index}" th:text="Remove">Remove</button>
		          	</li>
		        </ul>
		     <br>
				 List of UE Analytics Events
				<hr>
		        <ul>
					<button type="submit" name="addRowueAnaEvents" th:text="Add">Add UE Ana Events</button>
					<li th:each="p,p_stat: *{ueAnaEvents}">
			        <label>SUPI:</label>
				        <input th:field="*{ueAnaEvents[__${p_stat.index}__][0][0]}" value="${getUeAnaEvents(__${p_stat.index}__)}" pattern="^(imsi-[0-9]{5,15}|nai-.+|gci-.+|gli-.+|.+)$"/>
			        <ul>
						<button type="submit" name="addRowueAnaEventsItem" th:text="AddEvent" th:value="${p_stat.index}">AddEvent</button>
						<li th:each="j,j_stat: ${p[1]}">
						<select th:field="*{ueAnaEvents[__${p_stat.index}__][1][__${j_stat.index}__]}" />
				  			<option th:each="type : ${T(io.nwdaf.eventsubscription.model.NwdafEvent.NwdafEventEnum).values()}" 
				          	th:value="${type}" 
				          	th:text="${type.toString()}"></option>
				        </select>
				        <button th:if="${j_stat != null}" type="submit" name="removeRowueAnaEventsItem" 
		                th:value="${p_stat.index}+','+${j_stat.index}" th:text="RemoveEvent">RemoveEvent</button>
						</li>
		        	</ul>
			         <button th:if="${p_stat != null}" type="submit" name="removeRowueAnaEvents" 
		                th:value="${p_stat.index}" th:text="Remove">Remove</button>
		          	</li>
		        </ul>
		</div>
		<div th:if="*{showConsNfInfo}==true">
			Analytics Consumer Information
			<hr>
			<div>
	            <label>Consumer NF Instance ID </label> 
	            <input type="text" th:field="*{nfId}" th:value=${nfId} pattern="^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$"/>
	        </div>
	        <div>
	            <label>Consumer NF Set Identifier</label> 
	            <input type="text" th:field="*{nfSetId}" th:value=${nfSetId} pattern="(set[A-Za-z0-9\-]+[A-Za-z0-9]\.[A-Za-z]+set\.5gc\.mnc([0-9]){3}\.mcc([0-9]){3})|(set[A-Za-z0-9\-]+[A-Za-z0-9]\.[A-Za-z]+set\.5gc\.nid([A-Za-z0-9]){11}\.mnc([0-9]){3}\.mcc([0-9]){3})" title="for PLMN: set<NFSetId>.<NF>set.5gc.mnc<3digits>.mcc<3digits> for SNPN: ...5gc.nid<11-hexdigits>.mnc..."/>
	        </div>
			<br>
				 List of Tracking Area Identities (TAIs) 
				<hr>
		        <ul>
					<button type="submit" name="addRowtaiList" th:text="Add">Add TAI</button>
					<li th:each="p,p_stat: *{taiList}">
			        
			        <ul>
						<li th:each="j,j_stat: ${p}">
						<label th:text="*{taiAttributes[__${j_stat.index}__]}"></label>
				        <input th:field="*{taiList[__${p_stat.index}__][__${j_stat.index}__]}" value="${getTaiList(__${p_stat.index}__,__${j_stat.index}__)}" th:pattern="*{taiPatterns[__${j_stat.index}__]}"/>
			          	</li>
		        	</ul>
			         <button th:if="${p_stat != null}" type="submit" name="removeRowtaiList" 
		                th:value="${p_stat.index}" th:text="Remove">Remove</button>
		          	</li>
		        </ul>
		</div>
        <br> 
        <br> 
        <h3>Events to Subscribe to</h3>
        <ul>
		<button type="submit" name="addEventRow" th:text="AddEvent">AddEvent</button>
			<li th:each="e,e_stat:*{eventList}">
				<span th:text="'Event no' + __${e_stat.index}__"></span>
			</li>
		</ul>
        <input type="submit" value="Send" />
    </form>

    <div th:if="${result != null}">
        <h1>Result</h1>
        <div>
            <ul>
                <li th:text="${'Location: '+location}">Location</li>
                <li th:text="${'Optionals: '+result.optionals}">Optionals</li>
                <li th:text="${'Partitioning Criteria: '+result.partitionCriteria}">Partitioning Criteria</li>
                <li th:text="${'NfAnaEvents: '+result.nfAnaEvents}">NfAnaEvents</li>
                <li th:text="${'TaiList: '+result.taiList}">TaiList</li>
                <li th:text="${'UeAnaEvents: '+result.ueAnaEvents}">UeAnaEvents</li>
            </ul>
        </div>
        


    </div>
</body>
</html>